<div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <h4>Register Product</h4>
        <div class="container">
            <form name="newArticleForm" #myForm="ngForm">
                    <div class='row'>
                        <div class='col-sm-4'>    
                            <div class='form-group'>
                                <label for="inputName">Product</label>
                                <input class="form-control" id="inputName" name="inputName" [(ngModel)]="inputArticle.product" size="30" type="text" placeholder="Productname" ng-required="true"/>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class='form-group'>
                                <label for="inputAmount">Amount</label>
                                <input class="form-control" id="inputAmount" name="inputAmount" required="true" type="number" [(ngModel)]="inputArticle.amount" placeholder="Amount" ng-required="true"/>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class='form-group'>
                                <label for="inputUnitPrice">Unit Price</label>
                                <input class="form-control" id="inputUnitPrice" name="inputUnitPrice" required="true" type="number" [(ngModel)]="inputArticle.unitPrice" placeholder="Unit Price" ng-required="true"/>
                            </div>
                        </div>
                        <div class='col-sm-2 align-text-bottom'>
                                  <button id="inputButton" class="btn btn-primary" (click)="registerProduct()" [disabled]="!myForm.form.valid">Register</button>
                        </div>
                    </div>
            </form>
          </div>
      </div>
    </div>
</div>