<div class="container">
	<div class="row h-50">
    <articleinput (inserted)="onInserted($event)"></articleinput>
  </div>

    <div class="row h-50">
        <div class="col-md-12">
      <h4>Registered Products</h4>
      <div class="table-responsive">

      <table id="articleTable" class="table table-bordred table-hover table-sm">
                   
        <thead class="thead-light">
          <th class="product">Product</th>
          <th class="number">Amount</th>
          <th class="number">Unit Price</th>
          <th class="number">Total</th>

          <th class="button">Edit</th>                      
          <th class="button">Delete</th>
        </thead>
        
        <tbody>
          <tr *ngFor="let article of articles" article [article]="article" (deleted)="onDeleted($event)" (edited)="onEdit($event)">
        </tbody>

        <tfoot class="tfoot-light">
            <th>Total</th>
            <th></th>
            <th></th>
            <th>{{totalAmount | number : "1.1-1"}}</th>
            <th></th>                      
            <th></th>
          </tfoot>
        </table>               
    </div>            
  </div>
</div>